<% javascript 'upload_form' %>

<h1>Upload Document</h1>

<%= form_for @doc do |f| %>

    <%= f.file_field :upload_data %>

    <%= field_set_tag 'Attributes', id: 'attrs' do %>
        <%= button_tag(type: 'button', id: 'add-attr') { 'Add attribute' } %>
    <% end %>

    <%= f.submit %>

<% end %>
